
@{
    ViewData["Title"] = "Bot";
}

<h2>Bot</h2>

<iframe src='https://webchat.botframework.com/embed/building?s=zqZJYoJ4eJs.cwA.ctA.yiUapQmHEHMhLUiPcix7LXb6WjnNhCn_53UM2e3sAEA' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>