<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

<h2>We'd love your feedback!</h2>
<p>Please sent your feedback to <a href="mailto:sandervd@microft.com">Sander van den Hoven</a></p>
<p>Or visit <a href="http://github.com/svandenhoven/roomchecker">Github Repo</a></p>