<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

<h2>We'd love your feedback!</h2>
<p>Please sent your feedback to <a href="mailto:sandervd@microft.com">Sander van den Hoven</a></p>
<p>Or visit <a href="http://github.com/svandenhoven/roomchecker">Github Repo</a></p>

<h1>Features</h1>
<table border="0">
    <tr>
        <td style="padding: 5px 10px 5px 5px;">Date</td>
        <td style="padding: 5px 10px 5px 5px;">Description</td>
    </tr>
        <tr>
        <td style="padding: 5px 10px 5px 5px;">01-12-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Added meeting room pictures</td>
    </tr>
    <tr>
        <td style="padding: 5px 10px 5px 5px;">30-11-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Added availability filter. Show available meeting room first.</td>
    </tr>
    <tr>
        <td style="padding: 5px 10px 5px 5px;">11-08-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Moved to latest version of Microsoft Identity Platform.</td>
    </tr>
    <tr>
        <td style="padding: 5px 10px 5px 5px;">11-08-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Added multi tenancy and moved config to a tenant config file.</td>
    </tr>
    <tr>
        <td style="padding: 5px 10px 5px 5px;">01-08-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Added lots of changes</td>
    </tr>
    <tr>
        <td style="padding: 5px 10px 5px 5px;">17-08-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Added tooltip of meeting duration in the Meet page on the day schedule.</td>
    </tr>
    <tr>
        <td style="padding: 5px 10px 5px 5px;">15-08-2019</td>
        <td style="padding: 5px 10px 5px 5px;">Added Asset Tracking for bGrid Assets.</td>
    </tr>

</table>