
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Occupancy Dashboard</h2>

<iframe width="1140" height="800" src="https://msit.powerbi.com/reportEmbed?reportId=a2df36e5-469c-4a41-8920-679c70cd242a&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" frameborder="0" allowFullScreen="true"></iframe>

