div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 120px;
    border-radius: 15px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.roomName {
    text-align: center;
    font-size: 30px;
}

div.capacity {
    text-align: center;
    font-size: 12px;
}

div.status {
    text-align: center;
    font-weight: 700;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 15px;
}

legend.scheduler-border {
    font-size: 2.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

td.free {
    background-color: green;
    width: 10px;
}

td.notfree {
    background-color: red;
    width: 10px;
}

td.unknown {
    background-color: lightgray;
    width: 10px;
}

